html, body {
    margin: 0;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app_title {
    font-size: 19px;
    font-weight: bold;
}
